# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CMake and Make files
*.cmake
*.make
build/CMakeCache.txt
build/Makefile
build/server
build/_deps/crow-build/Makefile
build/_deps/crow-build/CMakeFiles/progress.marks
build/_deps/crow-build/CMakeFiles/uninstall.dir/compiler_depend.ts
build/_deps/crow-subbuild/CMakeCache.txt
build/_deps/crow-subbuild/CMakeLists.txt
build/_deps/crow-subbuild/Makefile
build/_deps/crow-subbuild/CMakeFiles/cmake.check_cache
build/_deps/crow-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/crow-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/crow-subbuild/CMakeFiles/crow-populate-complete
build/_deps/crow-subbuild/CMakeFiles/Makefile2
build/_deps/crow-subbuild/CMakeFiles/progress.marks
build/_deps/crow-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/crow-subbuild/CMakeFiles/crow-populate.dir/compiler_depend.ts
build/_deps/crow-subbuild/CMakeFiles/crow-populate.dir/Labels.json
build/_deps/crow-subbuild/CMakeFiles/crow-populate.dir/Labels.txt
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-build
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-configure
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-done
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-download
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-gitclone-lastrun.txt
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-gitinfo.txt
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-install
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-mkdir
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-patch
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-patch-info.txt
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-test
build/_deps/crow-subbuild/crow-populate-prefix/src/crow-populate-stamp/crow-populate-update-info.txt
build/_deps/crow-subbuild/crow-populate-prefix/tmp/crow-populate-cfgcmd.txt
build/_deps/stb-subbuild/CMakeCache.txt
build/_deps/stb-subbuild/CMakeLists.txt
build/_deps/stb-subbuild/Makefile
build/_deps/stb-subbuild/CMakeFiles/cmake.check_cache
build/_deps/stb-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/stb-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/stb-subbuild/CMakeFiles/Makefile2
build/_deps/stb-subbuild/CMakeFiles/progress.marks
build/_deps/stb-subbuild/CMakeFiles/stb-populate-complete
build/_deps/stb-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/stb-subbuild/CMakeFiles/stb-populate.dir/compiler_depend.ts
build/_deps/stb-subbuild/CMakeFiles/stb-populate.dir/Labels.json
build/_deps/stb-subbuild/CMakeFiles/stb-populate.dir/Labels.txt
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-build
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-configure
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-done
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-download
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-gitclone-lastrun.txt
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-gitinfo.txt
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-install
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-mkdir
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-patch
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-patch-info.txt
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-test
build/_deps/stb-subbuild/stb-populate-prefix/src/stb-populate-stamp/stb-populate-update-info.txt
build/_deps/stb-subbuild/stb-populate-prefix/tmp/stb-populate-cfgcmd.txt
build/_deps/zxing-cpp-build/Makefile
build/_deps/zxing-cpp-build/CMakeFiles/progress.marks
build/_deps/zxing-cpp-build/core/libZXing.so.2.3.0
build/_deps/zxing-cpp-build/core/libZXing.so.3
build/_deps/zxing-cpp-build/core/Makefile
build/_deps/zxing-cpp-build/core/Version.h
build/_deps/zxing-cpp-build/core/zxing.pc
build/_deps/zxing-cpp-build/core/CMakeFiles/progress.marks
build/_deps/zxing-cpp-build/core/CMakeFiles/ZXing.dir/cmake_pch.h
build/_deps/zxing-cpp-build/core/CMakeFiles/ZXing.dir/cmake_pch.h.c
build/_deps/zxing-cpp-build/core/CMakeFiles/ZXing.dir/cmake_pch.hxx
build/_deps/zxing-cpp-build/core/CMakeFiles/ZXing.dir/cmake_pch.hxx.cxx
build/_deps/zxing-cpp-build/core/CMakeFiles/ZXing.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/core/CMakeFiles/ZXing.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/core/CMakeFiles/ZXing.dir/link.txt
build/_deps/zxing-cpp-build/example/Makefile
build/_deps/zxing-cpp-build/example/ZXingQtCamReader
build/_deps/zxing-cpp-build/example/ZXingQtReader
build/_deps/zxing-cpp-build/example/ZXingQtWriter
build/_deps/zxing-cpp-build/example/ZXingReader
build/_deps/zxing-cpp-build/example/ZXingWriter
build/_deps/zxing-cpp-build/example/CMakeFiles/progress.marks
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader.dir/link.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/AutogenInfo.json
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/AutogenUsed.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/AutoRcc_ZXingQtCamReader_EWIEGA46WW_Info.json
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/AutoRcc_ZXingQtCamReader_EWIEGA46WW_Lock.lock
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/AutoRcc_ZXingQtCamReader_EWIEGA46WW_Used.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen.dir/ParseCache.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtCamReader_autogen_timestamp_deps.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader.dir/link.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader_autogen.dir/AutogenInfo.json
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader_autogen.dir/AutogenUsed.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader_autogen.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader_autogen.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader_autogen.dir/ParseCache.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtReader_autogen_timestamp_deps.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter.dir/link.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter_autogen.dir/AutogenInfo.json
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter_autogen.dir/AutogenUsed.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter_autogen.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter_autogen.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter_autogen.dir/ParseCache.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingQtWriter_autogen_timestamp_deps.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingReader.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingReader.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingReader.dir/link.txt
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingWriter.dir/compiler_depend.internal
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingWriter.dir/compiler_depend.ts
build/_deps/zxing-cpp-build/example/CMakeFiles/ZXingWriter.dir/link.txt
build/_deps/zxing-cpp-build/example/ZXingQtCamReader_autogen/deps
build/_deps/zxing-cpp-build/example/ZXingQtCamReader_autogen/moc_predefs.h
build/_deps/zxing-cpp-build/example/ZXingQtCamReader_autogen/mocs_compilation.cpp
build/_deps/zxing-cpp-build/example/ZXingQtCamReader_autogen/timestamp
build/_deps/zxing-cpp-build/example/ZXingQtCamReader_autogen/EWIEGA46WW/moc_ZXingQtReader.cpp
build/_deps/zxing-cpp-build/example/ZXingQtCamReader_autogen/EWIEGA46WW/qrc_ZXingQtCamReader.cpp
build/_deps/zxing-cpp-build/example/ZXingQtReader_autogen/deps
build/_deps/zxing-cpp-build/example/ZXingQtReader_autogen/moc_predefs.h
build/_deps/zxing-cpp-build/example/ZXingQtReader_autogen/mocs_compilation.cpp
build/_deps/zxing-cpp-build/example/ZXingQtReader_autogen/timestamp
build/_deps/zxing-cpp-build/example/ZXingQtReader_autogen/EWIEGA46WW/moc_ZXingQtReader.cpp
build/_deps/zxing-cpp-build/example/ZXingQtWriter_autogen/deps
build/_deps/zxing-cpp-build/example/ZXingQtWriter_autogen/moc_predefs.h
build/_deps/zxing-cpp-build/example/ZXingQtWriter_autogen/mocs_compilation.cpp
build/_deps/zxing-cpp-build/example/ZXingQtWriter_autogen/timestamp
build/_deps/zxing-cpp-subbuild/CMakeCache.txt
build/_deps/zxing-cpp-subbuild/CMakeLists.txt
build/_deps/zxing-cpp-subbuild/Makefile
build/_deps/zxing-cpp-subbuild/CMakeFiles/cmake.check_cache
build/_deps/zxing-cpp-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/zxing-cpp-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/zxing-cpp-subbuild/CMakeFiles/Makefile2
build/_deps/zxing-cpp-subbuild/CMakeFiles/progress.marks
build/_deps/zxing-cpp-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/zxing-cpp-subbuild/CMakeFiles/zxing-cpp-populate-complete
build/_deps/zxing-cpp-subbuild/CMakeFiles/zxing-cpp-populate.dir/compiler_depend.ts
build/_deps/zxing-cpp-subbuild/CMakeFiles/zxing-cpp-populate.dir/Labels.json
build/_deps/zxing-cpp-subbuild/CMakeFiles/zxing-cpp-populate.dir/Labels.txt
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-build
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-configure
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-done
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-download
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-gitclone-lastrun.txt
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-gitinfo.txt
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-install
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-mkdir
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-patch
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-patch-info.txt
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-test
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/src/zxing-cpp-populate-stamp/zxing-cpp-populate-update-info.txt
build/_deps/zxing-cpp-subbuild/zxing-cpp-populate-prefix/tmp/zxing-cpp-populate-cfgcmd.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/server.dir/compiler_depend.internal
build/CMakeFiles/server.dir/compiler_depend.ts
build/CMakeFiles/server.dir/link.txt
build/CMakeFiles/fc-stamp/crow/crow-gitclone-lastrun.txt
build/CMakeFiles/fc-stamp/crow/crow-gitinfo.txt
build/CMakeFiles/fc-stamp/crow/crow-patch-info.txt
build/CMakeFiles/fc-stamp/crow/crow-update-info.txt
build/CMakeFiles/fc-stamp/crow/download.stamp
build/CMakeFiles/fc-stamp/crow/patch.stamp
build/CMakeFiles/fc-stamp/crow/update.stamp
build/CMakeFiles/fc-stamp/zxing-cpp/download.stamp
build/CMakeFiles/fc-stamp/zxing-cpp/patch.stamp
build/CMakeFiles/fc-stamp/zxing-cpp/update.stamp
build/CMakeFiles/fc-stamp/zxing-cpp/zxing-cpp-gitclone-lastrun.txt
build/CMakeFiles/fc-stamp/zxing-cpp/zxing-cpp-gitinfo.txt
build/CMakeFiles/fc-stamp/zxing-cpp/zxing-cpp-patch-info.txt
build/CMakeFiles/fc-stamp/zxing-cpp/zxing-cpp-update-info.txt
